!!! 5
-# <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
-# <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
-# <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
-# <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title
      Wota Finder
    %meta{:name => "description", :content => ""}
    %meta{:name => "keywords", :content => ""}
    %meta{:name => "author", :content => ""}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:rel => "stylesheet", :href => "/css/normalize.css"}
    %link{:rel => "stylesheet", :href => "/css/skeleton.css"}
    %link{:rel => "stylesheet", :href => "/css/styles.css"}
    %link{:rel => "stylesheet", :href => "https://unpkg.com/leaflet@1.3.4/dist/leaflet.css", :integrity => "sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==", :crossorigin => ""}
    %script{:src => "https://unpkg.com/leaflet@1.3.4/dist/leaflet.js", :integrity => "sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==", :crossorigin => ""}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"}
  %body
    = haml :nav

    #map
    %script{:src => "/javascript/maps.js"}
