html, body, #map {
    height: 100%;
    width: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .nav-item {
  margin: auto;
}

body a {
  text-decoration: none;
  font-weight: bold;
}

.logo {
  padding: 6px 0 0 6px;
}

nav .logo img {
  width: 80px;
}
